.numField {
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.inputLabel {
    padding-right: 4px;
}

.groupSizePicker {
    display: inline;
}

.groupSizeInput {
    width: 25px;
}
