.listPage {
    display: grid;
    align-items: center;
    gap: 2px;
    grid-template-areas:    "list list list"
                            "back add submit";
    grid-template-columns: 200px 1fr 200px;
}

.list {
    grid-area: list;
}

.backButton {
    grid-area: back;
}

.submitButton {
    grid-area: submit;
}