.listPage {
    display: grid;
    align-items: center;
    gap: 4px;
    grid-template-areas:    "list list list"
                            "back add submit";
    grid-template-columns: max-content 1fr max-content;
}

.list {
    grid-area: list;
}

.backButton {
    grid-area: back;
}

.submitButton {
    grid-area: submit;
}