.carsPage {
    display: grid;
    align-items: center;
    gap: 2px;
    grid-template-areas:    "cars cars cars"
                            "back add submit";
    grid-template-columns: 200px 1fr 200px;
}

.cars {
    grid-area: cars;
}

.backButton {
    grid-area: back;
}

.submitButton {
    grid-area: submit;
}