.App {
  text-align: center;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mainBody {
  font-size: calc(10px + 2vmin);
  color: var(--textColor);
  width: 60vw;
  min-width: 300px;
}