.collapsibleCard {
    display: grid;
    grid-template-areas:    "name name count"
                            "start start start"
                            "delete blank save";
    grid-template-columns: 300px auto 300px;
}



.addressPicker {
    grid-area: start;
}

.namePicker{
    grid-area: name;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.groupSize {
    grid-area: count; 
    display: inline-flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.groupSizePicker{
    display: inline;
}

.input {
    padding: 4px;
    border: solid 2px gray;
}

.inputLabel {
    padding-right: 4px;
}
.groupSizeInput {
    width: 25px;
}

.groupSubmit {
    grid-area: save;
}